# drizzle-pg-starter environment variables

LOG_LEVEL='log_level'

NODE_ENV='node_env'

PORT='port'

CORS_ORIGIN='cors_origin'

DATABASE_URL='database_url'

BETTER_AUTH_SECRET='better_auth_secret'
BETTER_AUTH_URL='http://localhost:8888'
GOOGLE_CLIENT_ID='google_client_id'
GOOGLE_CLIENT_SECRET='google_client_secret'

RESEND_API_KEY='re_xxxxxxxxx'
RESEND_FROM_EMAIL='PollSnap <onboarding@resend.dev>'
